.locations{
  padding-left: clamp(1rem, 3.5vw, 4rem);
  padding-right: clamp(1rem, 3.5vw, 4rem);
  position: relative;
  background-color: #F8F8F9;
}

.locations__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;

}

.locations__container--map{
  height: 500px;
  width: 100%;
}

.locations__container--title{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  grid-column: 2;
  text-align: center;
  padding: 3rem 0;
  letter-spacing: 0.65px;
}
.locations__container--title .subtitle{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: proxima-nova, sans-serif !important;
  font-size: 13px;
  letter-spacing: 1px;
  

}
.locations__container--title .title{
  margin: 0;
  margin-bottom: clamp(2rem, 3vw, 5rem);
  font-family: proxima-nova, sans-serif !important;

}

.locations__container--title-btns{
  padding-top: clamp(2rem, 3vw, 5rem);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.locations__container--title-btns::after{
  content: " ";
  width: 70%;
  height: 1px;
  background-color:#C1C1C1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.locations__container--title-btns .button{
  margin: 1rem auto;
  max-width: 250px;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1px;
}

.locations__container--title-btns p a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 750px){
  .locations__container{
    display: flex;
    flex-direction: column;
  }
}